.header-link {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.header-link:hover {
    color: #4579e2;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}