.portfolio-purple {
    background: #281c3c;
    color: #d1d5e9;
}

.portfolio-lavendar {
    background: #8e75bc;
    color: #201c33;
}

.portfolio-white {
    background: #F2F2F2;
    color: #403866;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

