.skills-container {
    padding: 100px 0 200px 0;
    margin-top: -20px;
    display: block;
    position: relative;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.skills-green {
    color: #e5d3c8;
    background: #142a28;
}
.skills-purple {
    background: #281c3c;
    color: #e5d3c8;
}
.skills-lavendar {
    background: #8e75bc;
    color: #403866;
}

.skills-white {
    background: #F2F2F2;
}
