.skills-green {
    color: #e5d3c8;
    background: #142a28;
}
.skills-purple {
    background: #281c3c;
    color: #d1d5e9;
}
.skills-lavendar {
    background: #8e75bc;
    color: #403866;
}

.skills-white {
    background: #F2F2F2;
}

.card img {
    opacity: 80%;
    z-index: 100;
}

.skill-card {
    height: 550px;
}

.skill img {
    position: absolute;
}