.header-link {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.header-link:focus {
    outline: none;
}

.header-link:hover {
    color: black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .header-link {
        text-decoration: none;
        padding: 10px;
        color: white;
    }
  }