.header-link {
    text-decoration: none;
    padding: 20px;
    color: white;
    
}

.header-link:focus {
    outline: 0;
}

.header-link:hover {
    color: black;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    user-select: none;

}

@media screen and (max-width: 800px) {
    .header-link {
        padding: 20px 10px;
    }
  }

@media screen and (max-width: 710px) {
    .header-link {
        display: none;
    }
}