.header-link {
    color: white;
}

.header-link:hover {
    color: black;
    cursor: pointer;
}
.link-padding {
    padding: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    user-select: none;

}

@media screen and (max-width: 800px) {
    .header-link {
        padding: 20px 10px;
    }
}