.experience-container {
    padding: 100px 50px 200px 50px;
    margin-top: -20px;
    position: relative;
    transition: 0.5s all;
    z-index: 100;
}

.experience-green {
    color: #e5d3c8;
    background: #142a28;

}

.experience-black {
    background:#0C1419;
    color:white;
}

.experience-purple {
    background:#281c3c;
    color: #e5d3c8;

}
.leaf {
    z-index: 20;
    position: absolute;
    opacity: 20%;

}

/* TODO find positioning of leaves, and make bigger when screen is smaller */
.right-leaf-steep {
    width: 20%;
    right: 0;
    top: 15%;
}

.right-leaf {
    width: 40%;
    right: 0;
    top: 60%;
}

.left-leaf-steep {
    left: 0;
    top: 50%;
    width: 20%;
}

.left-leaf {
    left: 0;
    top: 50%;
    width: 40%;
}
.tropical-leaf {
    width: 30%;
    left: 0;
    top: 10%;
}

.tropical-leaf-right {
    width: 30%;
    right:0;
    top: 40%;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

