.experience-container {
    padding-top: 100px;
    padding-bottom: 150px;
    margin-top: -20px;
    display: block;
    position: relative;
    color: white;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    
}

.experience-green {
    background: rgb(248, 202, 211);
    color: #0C1419
}

.experience-black {
    background:#0C1419;
    color:white;
}


.leaf {
    z-index: 99;
    position: absolute;
    opacity: 60%;

}
.right-leaf-steep {
    width: 20%;
    right: 0;
    top: 10%;
}

.right-leaf {
    width: 30%;
    right: 0;
    top: 50%;
}

.left-leaf-steep {
    left: 0;
    top: 60%;
    width: 20%;
}
.tropical-leaf {
    width: 30%;
    left: 0;
    top: 20%;
}