body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  cursor: default;
  background: linear-gradient(#9198e5, #e66465);
  transition: .3s all;
}

.app-container {
  margin: 0;
}

.container {
  padding: 100px 50px 200px 50px;
  margin-top: -20px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  flex-direction: column;
  z-index: 10;
  text-align: center;
}