body {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  cursor: default;
  /* background: linear-gradient(#9198e5, #e66465); */
  background: #2d55aa;
  transition: .3s all;
  color: white;
}

.app-container {
  margin: 0;
}

.container {
  padding: 100px 50px 200px 50px;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  flex-direction: column;
  z-index: 10;
  text-align: center;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}