.portfolio-card {
    width: 400px;
    height: 400px;
    position: relative;
  }
  
.default-display {
  width: 100%;
  height:100%;
  color: black;
  text-align: center;
  padding: 10px;
  background: #F4F4F4;
}

.portfolio-card:hover .default-display{
  opacity: .2;
}

.portfolio-card:hover .overlay {
  opacity: .7;
}

.portfolio-button {
  margin: 20px;
}
.overlay {
  background: black;
  color: whitesmoke;
  transition: .4s ease;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 40px 10px 40px 10px;
  
}

.project-icon {
    width:40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}


.project-image {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.DAD5EB {
  background: #DAD5EB;
}

.bcb2db {
  background: #bcb2db;
}

.e9e6f3 {
  background: #e9e6f3;
}