.about-blue {
    background: #2d55aa;
    color:white;
}

.about-black {
    background:#0C1419;
    color: white;

}

.about-green {
    background: #142a28;
    color: #e5d3c8;
}
.about-content {
    padding-top: 50px;
}
.about-container {
    margin-top: -10px;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  
  .particles-visible {
    visibility: visible;
  }
  
  .particles-hidden {
    visibility: hidden;
  }