.about-blue {
    background: #2d55aa;
    color:white;
}

.about-black {
    background:#0C1419;
    color: white;
}

.about-green {
    background: #142a28;
    color: #e5d3c8;
}

@media screen and (max-width: 1000px) {
  .about-content {
    width: 80%
  }
}

@media screen and (min-width: 1001px) {
  .about-content {
    width: 60%;
    padding-top: 50px;
  }
}

.particles {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
  }
  
  .particles-visible {
    visibility: visible;
  }
  
  .particles-hidden {
    visibility: hidden;
  }